In [232]:
import pandas as pd
import numpy as np

dataset=pd.read_csv('data.csv')
print(dataset)

                     date         price  bedrooms  bathrooms  sqft_living  \
0     2014-05-02 00:00:00  3.130000e+05       3.0       1.50         1340
1     2014-05-02 00:00:00  2.384000e+06       5.0       2.50         3650
2     2014-05-02 00:00:00  3.420000e+05       3.0       2.00         1930
3     2014-05-02 00:00:00  4.200000e+05       3.0       2.25         2000
4     2014-05-02 00:00:00  5.500000e+05       4.0       2.50         1940
...                   ...           ...       ...        ...          ...
4595  2014-07-09 00:00:00  3.081667e+05       3.0       1.75         1510
4596  2014-07-09 00:00:00  5.343333e+05       3.0       2.50         1460
4597  2014-07-09 00:00:00  4.169042e+05       3.0       2.50         3010
4598  2014-07-10 00:00:00  2.034000e+05       4.0       2.00         2090
4599  2014-07-10 00:00:00  2.206000e+05       3.0       2.50         1490

      sqft_lot  floors  waterfront  view  condition  sqft_above  \
0         7912     1.5           0     0          3        1340
1         9050     2.0           0     4          5        3370
2        11947     1.0           0     0          4        1930
3         8030     1.0           0     0          4        1000
4        10500     1.0           0     0          4        1140
...        ...     ...         ...   ...        ...         ...
4595      6360     1.0           0     0          4        1510
4596      7573     2.0           0     0          3        1460
4597      7014     2.0           0     0          3        3010
4598      6630     1.0           0     0          3        1070
4599      8102     2.0           0     0          4        1490

      sqft_basement  yr_built  yr_renovated                    street  \
0                 0      1955          2005      18810 Densmore Ave N
1               280      1921             0           709 W Blaine St
2                 0      1966             0  26206-26214 143rd Ave SE
3              1000      1963             0           857 170th Pl NE
4               800      1976          1992         9105 170th Ave NE
...             ...       ...           ...                       ...
4595              0      1954          1979            501 N 143rd St
4596              0      1983          2009          14855 SE 10th Pl
4597              0      2009             0          759 Ilwaco Pl NE
4598           1020      1974             0         5148 S Creston St
4599              0      1990             0         18717 SE 258th St

           city  statezip country
0     Shoreline  WA 98133     USA
1       Seattle  WA 98119     USA
2          Kent  WA 98042     USA
3      Bellevue  WA 98008     USA
4       Redmond  WA 98052     USA
...         ...       ...     ...
4595    Seattle  WA 98133     USA
4596   Bellevue  WA 98007     USA
4597     Renton  WA 98059     USA
4598    Seattle  WA 98178     USA
4599  Covington  WA 98042     USA

[4600 rows x 18 columns]

In [233]:
dataset=dataset.drop(['date','sqft_lot','waterfront','view','condition','sqft_above','sqft_basement','street','statezip','country'],axis=1)
print(dataset)

             price  bedrooms  bathrooms  sqft_living  floors  yr_built  \
0     3.130000e+05       3.0       1.50         1340     1.5      1955
1     2.384000e+06       5.0       2.50         3650     2.0      1921
2     3.420000e+05       3.0       2.00         1930     1.0      1966
3     4.200000e+05       3.0       2.25         2000     1.0      1963
4     5.500000e+05       4.0       2.50         1940     1.0      1976
...            ...       ...        ...          ...     ...       ...
4595  3.081667e+05       3.0       1.75         1510     1.0      1954
4596  5.343333e+05       3.0       2.50         1460     2.0      1983
4597  4.169042e+05       3.0       2.50         3010     2.0      2009
4598  2.034000e+05       4.0       2.00         2090     1.0      1974
4599  2.206000e+05       3.0       2.50         1490     2.0      1990

      yr_renovated       city
0             2005  Shoreline
1                0    Seattle
2                0       Kent
3                0   Bellevue
4             1992    Redmond
...            ...        ...
4595          1979    Seattle
4596          2009   Bellevue
4597             0     Renton
4598             0    Seattle
4599             0  Covington

[4600 rows x 8 columns]

In [234]:
data2=dataset['price']
print(data2)

dataset=dataset.drop(['price'],axis=1)
print(dataset)

dataset['Price']=data2
print(dataset)

0       3.130000e+05
1       2.384000e+06
2       3.420000e+05
3       4.200000e+05
4       5.500000e+05
            ...
4595    3.081667e+05
4596    5.343333e+05
4597    4.169042e+05
4598    2.034000e+05
4599    2.206000e+05
Name: price, Length: 4600, dtype: float64
      bedrooms  bathrooms  sqft_living  floors  yr_built  yr_renovated  \
0          3.0       1.50         1340     1.5      1955          2005
1          5.0       2.50         3650     2.0      1921             0
2          3.0       2.00         1930     1.0      1966             0
3          3.0       2.25         2000     1.0      1963             0
4          4.0       2.50         1940     1.0      1976          1992
...        ...        ...          ...     ...       ...           ...
4595       3.0       1.75         1510     1.0      1954          1979
4596       3.0       2.50         1460     2.0      1983          2009
4597       3.0       2.50         3010     2.0      2009             0
4598       4.0       2.00         2090     1.0      1974             0
4599       3.0       2.50         1490     2.0      1990             0

           city
0     Shoreline
1       Seattle
2          Kent
3      Bellevue
4       Redmond
...         ...
4595    Seattle
4596   Bellevue
4597     Renton
4598    Seattle
4599  Covington

[4600 rows x 7 columns]
      bedrooms  bathrooms  sqft_living  floors  yr_built  yr_renovated  \
0          3.0       1.50         1340     1.5      1955          2005
1          5.0       2.50         3650     2.0      1921             0
2          3.0       2.00         1930     1.0      1966             0
3          3.0       2.25         2000     1.0      1963             0
4          4.0       2.50         1940     1.0      1976          1992
...        ...        ...          ...     ...       ...           ...
4595       3.0       1.75         1510     1.0      1954          1979
4596       3.0       2.50         1460     2.0      1983          2009
4597       3.0       2.50         3010     2.0      2009             0
4598       4.0       2.00         2090     1.0      1974             0
4599       3.0       2.50         1490     2.0      1990             0

           city         Price
0     Shoreline  3.130000e+05
1       Seattle  2.384000e+06
2          Kent  3.420000e+05
3      Bellevue  4.200000e+05
4       Redmond  5.500000e+05
...         ...           ...
4595    Seattle  3.081667e+05
4596   Bellevue  5.343333e+05
4597     Renton  4.169042e+05
4598    Seattle  2.034000e+05
4599  Covington  2.206000e+05

[4600 rows x 8 columns]

In [235]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

dataset.city=le.fit_transform(dataset.city)
print(dataset)

      bedrooms  bathrooms  sqft_living  floors  yr_built  yr_renovated  city  \
0          3.0       1.50         1340     1.5      1955          2005    36
1          5.0       2.50         3650     2.0      1921             0    35
2          3.0       2.00         1930     1.0      1966             0    18
3          3.0       2.25         2000     1.0      1963             0     3
4          4.0       2.50         1940     1.0      1976          1992    31
...        ...        ...          ...     ...       ...           ...   ...
4595       3.0       1.75         1510     1.0      1954          1979    35
4596       3.0       2.50         1460     2.0      1983          2009     3
4597       3.0       2.50         3010     2.0      2009             0    32
4598       4.0       2.00         2090     1.0      1974             0    35
4599       3.0       2.50         1490     2.0      1990             0     9

             Price
0     3.130000e+05
1     2.384000e+06
2     3.420000e+05
3     4.200000e+05
4     5.500000e+05
...            ...
4595  3.081667e+05
4596  5.343333e+05
4597  4.169042e+05
4598  2.034000e+05
4599  2.206000e+05

[4600 rows x 8 columns]

In [236]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

ct=ColumnTransformer([("city",OneHotEncoder(),[6])],remainder = 'passthrough')
dataset=ct.fit_transform(dataset)
print(dataset)

  (0, 36)	1.0
  (0, 44)	3.0
  (0, 45)	1.5
  (0, 46)	1340.0
  (0, 47)	1.5
  (0, 48)	1955.0
  (0, 49)	2005.0
  (0, 50)	313000.0
  (1, 35)	1.0
  (1, 44)	5.0
  (1, 45)	2.5
  (1, 46)	3650.0
  (1, 47)	2.0
  (1, 48)	1921.0
  (1, 50)	2384000.0
  (2, 18)	1.0
  (2, 44)	3.0
  (2, 45)	2.0
  (2, 46)	1930.0
  (2, 47)	1.0
  (2, 48)	1966.0
  (2, 50)	342000.0
  (3, 3)	1.0
  (3, 44)	3.0
  (3, 45)	2.25
  :	:
  (4596, 47)	2.0
  (4596, 48)	1983.0
  (4596, 49)	2009.0
  (4596, 50)	534333.333333
  (4597, 32)	1.0
  (4597, 44)	3.0
  (4597, 45)	2.5
  (4597, 46)	3010.0
  (4597, 47)	2.0
  (4597, 48)	2009.0
  (4597, 50)	416904.166667
  (4598, 35)	1.0
  (4598, 44)	4.0
  (4598, 45)	2.0
  (4598, 46)	2090.0
  (4598, 47)	1.0
  (4598, 48)	1974.0
  (4598, 50)	203400.0
  (4599, 9)	1.0
  (4599, 44)	3.0
  (4599, 45)	2.5
  (4599, 46)	1490.0
  (4599, 47)	2.0
  (4599, 48)	1990.0
  (4599, 50)	220600.0

In [237]:
inputt=dataset[:,:-2]
print(input)

outputt=dataset[:,-1]
print(output)

print(inputt.shape)
print(outputt.shape)

# import tensorflow as tf
# inputt= tf.placeholder(tf.int32,[None,None])


# inputt=inputt.reshape(inputt.shape[1:])
# inputt=inputt.transpose()

# print(inputt.shape)

  (0, 36)	1.0
  (0, 44)	3.0
  (0, 45)	1.5
  (0, 46)	1340.0
  (0, 47)	1.5
  (0, 48)	1955.0
  (1, 35)	1.0
  (1, 44)	5.0
  (1, 45)	2.5
  (1, 46)	3650.0
  (1, 47)	2.0
  (1, 48)	1921.0
  (2, 18)	1.0
  (2, 44)	3.0
  (2, 45)	2.0
  (2, 46)	1930.0
  (2, 47)	1.0
  (2, 48)	1966.0
  (3, 3)	1.0
  (3, 44)	3.0
  (3, 45)	2.25
  (3, 46)	2000.0
  (3, 47)	1.0
  (3, 48)	1963.0
  (4, 31)	1.0
  :	:
  (4595, 48)	1954.0
  (4596, 3)	1.0
  (4596, 44)	3.0
  (4596, 45)	2.5
  (4596, 46)	1460.0
  (4596, 47)	2.0
  (4596, 48)	1983.0
  (4597, 32)	1.0
  (4597, 44)	3.0
  (4597, 45)	2.5
  (4597, 46)	3010.0
  (4597, 47)	2.0
  (4597, 48)	2009.0
  (4598, 35)	1.0
  (4598, 44)	4.0
  (4598, 45)	2.0
  (4598, 46)	2090.0
  (4598, 47)	1.0
  (4598, 48)	1974.0
  (4599, 9)	1.0
  (4599, 44)	3.0
  (4599, 45)	2.5
  (4599, 46)	1490.0
  (4599, 47)	2.0
  (4599, 48)	1990.0
  (0, 0)	313000.0
  (1, 0)	2384000.0
  (2, 0)	342000.0
  (3, 0)	420000.0
  (4, 0)	550000.0
  (5, 0)	490000.0
  (6, 0)	335000.0
  (7, 0)	482000.0
  (8, 0)	452500.0
  (9, 0)	640000.0
  (10, 0)	463000.0
  (11, 0)	1400000.0
  (12, 0)	588500.0
  (13, 0)	365000.0
  (14, 0)	1200000.0
  (15, 0)	242500.0
  (16, 0)	419000.0
  (17, 0)	367500.0
  (18, 0)	257950.0
  (19, 0)	275000.0
  (20, 0)	750000.0
  (21, 0)	435000.0
  (22, 0)	626000.0
  (23, 0)	612500.0
  (24, 0)	495000.0
  :	:
  (4572, 0)	1288333.3333299998
  (4573, 0)	584000.0
  (4576, 0)	245000.0
  (4577, 0)	287919.782609
  (4578, 0)	672500.0
  (4579, 0)	454790.0
  (4580, 0)	282508.888889
  (4581, 0)	473200.0
  (4582, 0)	406062.5
  (4583, 0)	282766.666667
  (4584, 0)	486445.833333
  (4585, 0)	486895.0
  (4586, 0)	430277.777778
  (4587, 0)	229629.5
  (4589, 0)	182805.0
  (4590, 0)	380680.555556
  (4591, 0)	396166.666667
  (4592, 0)	252980.0
  (4593, 0)	289373.307692
  (4594, 0)	210614.285714
  (4595, 0)	308166.666667
  (4596, 0)	534333.333333
  (4597, 0)	416904.166667
  (4598, 0)	203400.0
  (4599, 0)	220600.0
(4600, 49)
(4600, 1)

In [238]:
from sklearn.model_selection import train_test_split
input_train,input_test,output_train,output_test=train_test_split(inputt,outputt,test_size=0.2,random_state=0)

In [240]:
# from sklearn.linear_model import LinearRegression
# regressor = LinearRegression()  
# regressor.fit(input_train, output_train)


from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(max_depth = 5, random_state = 14)
model.fit(input_train, output_train)

ValueError: setting an array element with a sequence.